{% extends "app.html" %}

{% block head %}
    <meta charset="utf-8">
    <title>BrightCast - VK Music Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">

    <link rel="stylesheet" href="app.css">
    <link href="fonts/desktop/material-icons.css" rel="stylesheet">
    <link href="fonts/desktop/main-font.css" rel="stylesheet">

{% endblock %}

{% block appLoading %}
    <div id="appLoading" class="appLoading">
        <h1 class="appLoading_title">BrightCast</h1>
    </div>
{% endblock %}

{% block desktopBroadCastTooltip %}
    <div class="mdl-tooltip" for="player-controller_broadcast-btn">
        Broadcast song <br> in status
    </div>
{% endblock %}

{% block desktopAdditionalMenuLinks %}
            <a class="drawer-panel_nav_link" href="#" data-open="#settings-section" data-i18n-content="settings">
                Settings
            </a>
{% endblock %}

{% block desktopSettingsSection %}
    <div class="section" id="settings-section">
        <header class="section_header">
            <div class="section_header_row">
                <button class="mdl-button mdl-js-button mdl-button--icon section_header_drawer-toggle-btn">
                  <img class="md-icons" src="icons/ic_menu.svg">
                </button>
                <span class="mdl-layout-title" data-i18n-content="settings">Settings</span>
                <div class="mdl-layout-spacer"></div>
                <a class="log-out-btn" id="log-out-btn" href="#">
                    <img class="out-btn_md-icons log-out-btn_icon" src="icons/ic_exit_to_app.svg"><span data-i18n-content="signOut">Sign out</span>
                </a>
            </div>
        </header>
        <div class="section-content settings-section-content">

            <div class="settings-section-content-wrapper">
                <div class="settings-section_connection-info settings-section-content_item" id="settings-section_connection-info">
                    <div class="settings-section-content_item_title" data-i18n-content="remote">
                        Remote
                    </div>
                    <div class="settings-section-content_item_body">
                        <span data-i18n-content="settingsSectionConnectionInfoPart1">
                            Scan QR code or enter
                        </span>
                        <span id="settings-section_connection-info_address"
                          class="settings-section_connection-info_address"></span>
                        <span data-i18n-content="settingsSectionConnectionInfoPart2">
                            into address bar of browser on your mobile device to use it as a remote control for BrightCast.
                        </span>
                        <b>(</b><b data-i18n-content="settingsSectionConnectionInfoPart3">
                            Both computer and mobile device have to be connected to the same network.
                        </b><b data-i18n-content="settingsSectionConnectionInfoPart4" class="settings-section_for-windows-only-msg" hidden>
                            You need to open ports for app. Instruction <a href="https://goo.gl/wFwtqP" target="_blank">here</a>
                        </b><b>)</b>
                        <canvas class="settings-section-qr-code" id="settings-section-qr-code"></canvas>
                    </div>
                </div>

                <div class="support-block settings-section-content_item">
                    <div class="settings-section-content_item_title" data-i18n-content="support">
                        Support
                    </div>
                    <div class="settings-section-content_item_body">
                        <span data-i18n-content="supportText1">If you have any problems with the application, please write in</span>
                        <a href="https://vk.com/brightcastmp" target="_blank" data-i18n-content="supportText2">official group</a>
                        <span data-i18n-content="supportText3">in VK.</span>
                    </div>
                </div>
            </div>

            <div class="made-with-love-block">
                <div class="made-with-love-block_content-wrapper">
                    Made with <span class="made-with-love-block_heart">♥</span>
                    by <a href="https://vk.com/madtaras" class="made-with-love-block_name" target="_blank">Taras Mazurkevych</a>
                </div>
            </div>

        </div>
    </div> <!-- .section -->
{% endblock %}
