{% extends "app.html" %}

{% block head %} 
    <meta charset="utf-8">
    <title>BrightCast - VK Music Player</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="app.css">
    <link href="fonts/desktop/material-icons.css" rel="stylesheet">
    <link href="fonts/desktop/main-font.css" rel="stylesheet">
{% endblock %}

{% block desktopAdditionalMenuLinks %} 
            <a class="drawer-panel_nav_link" href="#" data-open="#settings-section">
                Налаштування
            </a>
            <a class="log-out-btn" id="log-out-btn" href="#">
                <i class="material-icons log-out-btn_icon">exit_to_app</i> Вийти
            </a>
{% endblock %}

{% block desktopSettingsSection %} 
    <div class="section" id="settings-section">
        <header class="section_header">
            <div class="section_header_row">
                <button class="mdl-button mdl-js-button mdl-button--icon section_header_drawer-toggle-btn">
                    <i class="material-icons">menu</i>
                </button>
                <span class="mdl-layout-title">Налаштування</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
        <div class="section-content settings-section-content">

            <div class="settings-section_connection-info settings-section-content_item">
                <div class="settings-section-content_item_title">
                    Пульт
                </div>
                <div class="settings-section-content_item_body">
                    Введіть
                    <span id="settings-section_connection-info_address"
                      class="settings-section_connection-info_address"></span>
                    в адресний рядок браузера на вашому мобільному пристрої.
                </div>
            </div>

            <div class="support-block settings-section-content_item">
                <div class="settings-section-content_item_title">
                    Підтримка
                </div>
                <div class="settings-section-content_item_body">
                    Якщо у вас виникли проблеми з додатком, пишіть в
                    <a href="https://vk.com/brightcastmp" target="_blank">офіційній групі</a>
                    в ВКонтакті.
                </div>
            </div>

            <div class="made-with-love-block">
                <div class="made-with-love-block_content-wrapper">
                    Made with <span class="made-with-love-block_heart">♥</span>
                    by <a href="https://vk.com/madtaras" class="made-with-love-block_name" target="_blank">madtaras</a>
                </div>
            </div>

        </div>
    </div> <!-- .section -->
{% endblock %}